CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

build
sources/compil.date

documentation/Examples/bat2d.sol
documentation/Examples/bat2dInit.mesh
documentation/Examples/square2d.sol
documentation/Examples/frmap2d.sol
documentation/Examples/thks2d.sol

documentation/Examples/ball3d.sol
documentation/Examples/ball3dInit.mesh
documentation/Examples/cube3d.sol
documentation/Examples/mpd3d.sol
documentation/Examples/saddle3d.sol
