CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

build
sources/compil.date

documentation/Examples/bat.sol
documentation/Examples/batInit.mesh
documentation/Examples/carre.sol
documentation/Examples/frmap.sol
documentation/Examples/thks.sol

documentation/Examples/ball3d.sol
documentation/Examples/ball3dInit.mesh
documentation/Examples/cube3d.sol
documentation/Examples/mpd3d.sol
documentation/Examples/saddle3d.sol
